.btn{
    background: var(--theme);
    color: var(--theme-text);
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    border-radius: 0;
    font-size: var(--small);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    height: var(--field);
    padding: 0 calc(var(--field) / 2);
    gap: 0.8rem;
    transition: .2s;

    &--small {
        width: 100%;
    }

    &--medium {
        --field: 3.8rem
    }

    &--outline {
        background: var(--bg);
        border: 1px solid var(--border);
        color: var(--text);
        transition: .2s;
    }

    &--outline:hover {
        background: var(--theme);
        color: #fff;
    }
}

.btn:hover {
    background: #ee0000;
}