@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?7xxdmv');
    src:  url('../fonts/icomoon.eot?7xxdmv#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?7xxdmv') format('truetype'),
      url('../fonts/icomoon.woff?7xxdmv') format('woff'),
      url('../fonts/icomoon.svg?7xxdmv#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
 
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    // speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-left-menu:before {
    content: "\e900";
  }
  .icon-display:before {
    content: "\e901";
  }
  .icon-case:before {
    content: "\e902";
  }
  .icon-business:before {
    content: "\e903";
  }
  .icon-rocket:before {
    content: "\e904";
  }
  .icon-coin:before {
    content: "\e905";
  }
  .icon-reply-left:before {
    content: "\e906";
  }
  .icon-reply-right:before {
    content: "\e907";
  }
  .icon-seo:before {
    content: "\e908";
  }
  .icon-view-list:before {
    content: "\e909";
  }
  .icon-folder-open:before {
    content: "\e90a";
  }
  .icon-upload:before {
    content: "\e90b";
  }
  .icon-folder:before {
    content: "\e90c";
  }
  .icon-download:before {
    content: "\e90d";
  }
  .icon-place:before {
    content: "\e90e";
  }
  .icon-light:before {
    content: "\e90f";
  }
  .icon-dark:before {
    content: "\e910";
  }
  .icon-arrow-down:before {
    content: "\e911";
  }
  .icon-arrow-up:before {
    content: "\e912";
  }
  .icon-arrow-right:before {
    content: "\e913";
  }
  .icon-arrow-left:before {
    content: "\e914";
  }
  .icon-up:before {
    content: "\e915";
  }
  .icon-login:before {
    content: "\e916";
  }
  .icon-left:before {
    content: "\e917";
  }
  .icon-right:before {
    content: "\e918";
  }
  .icon-down:before {
    content: "\e919";
  }
  .icon-drag:before {
    content: "\e91a";
  }
  .icon-bookmark:before {
    content: "\e91b";
  }
  .icon-power:before {
    content: "\e91c";
  }
  .icon-code:before {
    content: "\e91d";
  }
  .icon-chat:before {
    content: "\e91e";
  }
  .icon-history:before {
    content: "\e91f";
  }
  .icon-user:before {
    content: "\e920";
  }
  .icon-open:before {
    content: "\e921";
  }
  .icon-error:before {
    content: "\e922";
  }
  .icon-dashboard:before {
    content: "\e923";
  }
  .icon-like:before {
    content: "\e924";
  }
  .icon-event:before {
    content: "\e925";
  }
  .icon-help:before {
    content: "\e926";
  }
  .icon-internet:before {
    content: "\e927";
  }
  .icon-time:before {
    content: "\e928";
  }
  .icon-lock:before {
    content: "\e929";
  }
  .icon-fav-solid:before {
    content: "\e92a";
  }
  .icon-fav:before {
    content: "\e92b";
  }
  .icon-document:before {
    content: "\e92c";
  }
  .icon-logout:before {
    content: "\e92d";
  }
  .icon-show:before {
    content: "\e92e";
  }
  .icon-cart:before {
    content: "\e92f";
  }
  .icon-trash:before {
    content: "\e930";
  }
  .icon-success:before {
    content: "\e931";
  }
  .icon-warning:before {
    content: "\e932";
  }
  .icon-check:before {
    content: "\e933";
  }
  .icon-settings:before {
    content: "\e934";
  }
  .icon-avatar:before {
    content: "\e935";
  }
  .icon-home:before {
    content: "\e936";
  }
  .icon-search:before {
    content: "\e937";
  }
  .icon-inventory:before {
    content: "\e938";
  }
  .icon-text:before {
    content: "\e939";
  }
  .icon-inbox:before {
    content: "\e93a";
  }
  .icon-email:before {
    content: "\e93b";
  }
  .icon-phone:before {
    content: "\e93c";
  }
  .icon-call:before {
    content: "\e93d";
  }
  .icon-notif:before {
    content: "\e93e";
  }
  .icon-move:before {
    content: "\e93f";
  }
  .icon-unfold-more:before {
    content: "\e940";
  }
  .icon-chevron-left-solid:before {
    content: "\e941";
  }
  .icon-add:before {
    content: "\e942";
  }
  .icon-add-circle:before {
    content: "\e943";
  }
  .icon-remove:before {
    content: "\e944";
  }
  .icon-remove-circle:before {
    content: "\e945";
  }
  .icon-filter:before {
    content: "\e946";
  }
  .icon-mic:before {
    content: "\e947";
  }
  .icon-attach:before {
    content: "\e948";
  }
  .icon-emoji:before {
    content: "\e949";
  }
  .icon-cancel:before {
    content: "\e94a";
  }
  .icon-close:before {
    content: "\e94b";
  }
  .icon-menu:before {
    content: "\e94c";
  }
  .icon-more-h:before {
    content: "\e94d";
  }
  .icon-more-v:before {
    content: "\e94e";
  }
  .icon-send:before {
    content: "\e94f";
  }
  .icon-sync:before {
    content: "\e950";
  }
  .icon-refresh:before {
    content: "\e951";
  }
  .icon-person-add:before {
    content: "\e952";
  }
  .icon-group:before {
    content: "\e953";
  }
  .icon-group-add:before {
    content: "\e954";
  }
  .icon-done:before {
    content: "\e955";
  }
  .icon-checklist:before {
    content: "\e956";
  }
  .icon-checkbox:before {
    content: "\e957";
  }
  .icon-list:before {
    content: "\e958";
  }
  .icon-flag:before {
    content: "\e959";
  }
  .icon-click:before {
    content: "\e95a";
  }
  .icon-mouse:before {
    content: "\e95b";
  }
  .icon-align-right:before {
    content: "\e95c";
  }
  .icon-underlined:before {
    content: "\e95d";
  }
  .icon-align-center:before {
    content: "\e95e";
  }
  .icon-align-left:before {
    content: "\e95f";
  }
  .icon-through:before {
    content: "\e960";
  }
  .icon-italic:before {
    content: "\e961";
  }
  .icon-bold:before {
    content: "\e962";
  }
  .icon-table:before {
    content: "\e963";
  }
  .icon-view-grid:before {
    content: "\e964";
  }
  .icon-verified:before {
    content: "\e965";
  }
  .icon-play:before {
    content: "\e966";
  }
  .icon-pause:before {
    content: "\e967";
  }
  .icon-mic-off:before {
    content: "\e968";
  }
  .icon-star:before {
    content: "\e969";
  }
  .icon-star-outline:before {
    content: "\e96a";
  }
  .icon-coin1:before {
    content: "\e96b";
  }
  .icon-calculate:before {
    content: "\e96c";
  }
  .icon-long-arrow-right:before {
    content: "\e96d";
  }
  .icon-tik-tok:before {
    content: "\e96e";
  }
  .icon-youtube:before {
    content: "\e96f";
  }
  .icon-whatsapp:before {
    content: "\e970";
  }
  .icon-instagram:before {
    content: "\e971";
  }
  .icon-telegram:before {
    content: "\e972";
  }
  .icon-twitter:before {
    content: "\e973";
  }
  .icon-facebook:before {
    content: "\e974";
  }
  .icon-vk:before {
    content: "\e975";
  }
  .icon-kaspi:before {
    content: "\e976";
  }
  .icon-stream:before {
    content: "\e977";
  }
  .icon-quote:before {
    content: "\e978";
  }
  .icon-gift:before {
    content: "\e979";
  }
  .icon-shield:before {
    content: "\e97a";
  }
  .icon-server:before {
    content: "\e97b";
  }
  .icon-behance-icon:before {
    content: "\e97c";
  }
  .icon-edit:before {
    content: "\e97d";
  }
  .icon-cc-discover:before {
    content: "\e97e";
  }
  .icon-cc-mastercard:before {
    content: "\e97f";
  }
  .icon-visa:before {
    content: "\e980";
  }
  .icon-home2:before {
    content: "\e981";
  }
  .icon-home3:before {
    content: "\e982";
  }
  .icon-file-zip:before {
    content: "\e983";
  }
  .icon-copy:before {
    content: "\e984";
  }
  .icon-paste:before {
    content: "\e985";
  }
  .icon-stack:before {
    content: "\e986";
  }
  .icon-ticket:before {
    content: "\e987";
  }
  .icon-cart1:before {
    content: "\e988";
  }
  .icon-coin-dollar:before {
    content: "\e989";
  }
  .icon-coin-euro:before {
    content: "\e98a";
  }
  .icon-location2:before {
    content: "\e98b";
  }
  .icon-compass:before {
    content: "\e98c";
  }
  .icon-compass2:before {
    content: "\e98d";
  }
  .icon-cc-paypal:before {
    content: "\e98e";
  }
  .icon-javascript:before {
    content: "\e98f";
  }
  .icon-left-menu1:before {
    content: "\e990";
  }
  .icon-display1:before {
    content: "\e991";
  }
  .icon-case1:before {
    content: "\e992";
  }
  .icon-business1:before {
    content: "\e993";
  }
  .icon-rocket1:before {
    content: "\e994";
  }
  .icon-coin2:before {
    content: "\e995";
  }
  .icon-reply-left1:before {
    content: "\e996";
  }
  .icon-reply-right1:before {
    content: "\e997";
  }
  .icon-seo1:before {
    content: "\e998";
  }
  .icon-view-list1:before {
    content: "\e999";
  }
  .icon-folder-open1:before {
    content: "\e99a";
  }
  .icon-upload1:before {
    content: "\e99b";
  }
  .icon-folder1:before {
    content: "\e99c";
  }
  .icon-download1:before {
    content: "\e99d";
  }
  .icon-place1:before {
    content: "\e99e";
  }
  .icon-light1:before {
    content: "\e99f";
  }
  .icon-dark1:before {
    content: "\e9a0";
  }
  .icon-arrow-down1:before {
    content: "\e9a1";
  }
  .icon-arrow-up1:before {
    content: "\e9a2";
  }
  .icon-arrow-right1:before {
    content: "\e9a3";
  }
  .icon-arrow-left1:before {
    content: "\e9a4";
  }
  .icon-up1:before {
    content: "\e9a5";
  }
  .icon-login1:before {
    content: "\e9a6";
  }
  .icon-left1:before {
    content: "\e9a7";
  }
  .icon-right1:before {
    content: "\e9a8";
  }
  .icon-down1:before {
    content: "\e9a9";
  }
  .icon-drag1:before {
    content: "\e9aa";
  }
  .icon-bookmark1:before {
    content: "\e9ab";
  }
  .icon-power1:before {
    content: "\e9ac";
  }
  .icon-code1:before {
    content: "\e9ad";
  }
  .icon-chat1:before {
    content: "\e9ae";
  }
  .icon-history1:before {
    content: "\e9af";
  }
  .icon-user1:before {
    content: "\e9b0";
  }
  .icon-open1:before {
    content: "\e9b1";
  }
  .icon-error1:before {
    content: "\e9b2";
  }
  .icon-dashboard1:before {
    content: "\e9b3";
  }
  .icon-like1:before {
    content: "\e9b4";
  }
  .icon-event1:before {
    content: "\e9b5";
  }
  .icon-help1:before {
    content: "\e9b6";
  }
  .icon-internet1:before {
    content: "\e9b7";
  }
  .icon-time1:before {
    content: "\e9b8";
  }
  .icon-lock1:before {
    content: "\e9b9";
  }
  .icon-fav-solid1:before {
    content: "\e9ba";
  }
  .icon-fav1:before {
    content: "\e9bb";
  }
  .icon-document1:before {
    content: "\e9bc";
  }
  .icon-logout1:before {
    content: "\e9bd";
  }
  .icon-show1:before {
    content: "\e9be";
  }
  .icon-cart2:before {
    content: "\e9bf";
  }
  .icon-trash1:before {
    content: "\e9c0";
  }
  .icon-success1:before {
    content: "\e9c1";
  }
  .icon-warning1:before {
    content: "\e9c2";
  }
  .icon-check1:before {
    content: "\e9c3";
  }
  .icon-settings1:before {
    content: "\e9c4";
  }
  .icon-avatar1:before {
    content: "\e9c5";
  }
  .icon-home1:before {
    content: "\e9c6";
  }
  .icon-search1:before {
    content: "\e9c7";
  }
  .icon-inventory1:before {
    content: "\e9c8";
  }
  .icon-text1:before {
    content: "\e9c9";
  }
  .icon-inbox1:before {
    content: "\e9ca";
  }
  .icon-email1:before {
    content: "\e9cb";
  }
  .icon-phone1:before {
    content: "\e9cc";
  }
  .icon-call1:before {
    content: "\e9cd";
  }
  .icon-notif1:before {
    content: "\e9ce";
  }
  .icon-move1:before {
    content: "\e9cf";
  }
  .icon-unfold-more1:before {
    content: "\e9d0";
  }
  .icon-edit1:before {
    content: "\e9d1";
  }
  .icon-add1:before {
    content: "\e9d2";
  }
  .icon-add-circle1:before {
    content: "\e9d3";
  }
  .icon-remove1:before {
    content: "\e9d4";
  }
  .icon-remove-circle1:before {
    content: "\e9d5";
  }
  .icon-filter1:before {
    content: "\e9d6";
  }
  .icon-mic1:before {
    content: "\e9d7";
  }
  .icon-attach1:before {
    content: "\e9d8";
  }
  .icon-emoji1:before {
    content: "\e9d9";
  }
  .icon-cancel1:before {
    content: "\e9da";
  }
  .icon-close1:before {
    content: "\e9db";
  }
  .icon-menu1:before {
    content: "\e9dc";
  }
  .icon-more-h1:before {
    content: "\e9dd";
  }
  .icon-more-v1:before {
    content: "\e9de";
  }
  .icon-send1:before {
    content: "\e9df";
  }
  .icon-sync1:before {
    content: "\e9e0";
  }
  .icon-refresh1:before {
    content: "\e9e1";
  }
  .icon-person-add1:before {
    content: "\e9e2";
  }
  .icon-group1:before {
    content: "\e9e3";
  }
  .icon-group-add1:before {
    content: "\e9e4";
  }
  .icon-done1:before {
    content: "\e9e5";
  }
  .icon-checklist1:before {
    content: "\e9e6";
  }
  .icon-checkbox1:before {
    content: "\e9e7";
  }
  .icon-list1:before {
    content: "\e9e8";
  }
  .icon-flag1:before {
    content: "\e9e9";
  }
  .icon-click1:before {
    content: "\e9ea";
  }
  .icon-mouse1:before {
    content: "\e9eb";
  }
  .icon-align-right1:before {
    content: "\e9ec";
  }
  .icon-underlined1:before {
    content: "\e9ed";
  }
  .icon-align-center1:before {
    content: "\e9ee";
  }
  .icon-align-left1:before {
    content: "\e9ef";
  }
  .icon-through1:before {
    content: "\e9f0";
  }
  .icon-italic1:before {
    content: "\e9f1";
  }
  .icon-bold1:before {
    content: "\e9f2";
  }
  .icon-table1:before {
    content: "\e9f3";
  }
  .icon-view-grid1:before {
    content: "\e9f4";
  }
  .icon-verified1:before {
    content: "\e9f5";
  }
  .icon-play1:before {
    content: "\e9f6";
  }
  .icon-pause1:before {
    content: "\e9f7";
  }
  .icon-mic-off1:before {
    content: "\e9f8";
  }
  .icon-star1:before {
    content: "\e9f9";
  }
  .icon-star-outline1:before {
    content: "\e9fa";
  }
  .icon-coin11:before {
    content: "\e9fb";
  }
  .icon-calculate1:before {
    content: "\e9fc";
  }
  .icon-php:before {
    content: "\e9fd";
  }
  .icon-tik-tok1:before {
    content: "\e9fe";
  }
  .icon-youtube1:before {
    content: "\e9ff";
  }
  .icon-whatsapp1:before {
    content: "\ea00";
  }
  .icon-instagram1:before {
    content: "\ea01";
  }
  .icon-telegram1:before {
    content: "\ea02";
  }
  .icon-twitter1:before {
    content: "\ea03";
  }
  .icon-facebook1:before {
    content: "\ea04";
  }
  .icon-vk1:before {
    content: "\ea05";
  }
  .icon-kaspi1:before {
    content: "\ea06";
  }
  .icon-stream1:before {
    content: "\ea07";
  }
  .icon-quote1:before {
    content: "\ea08";
  }
  .icon-gift1:before {
    content: "\ea09";
  }
  .icon-shield1:before {
    content: "\ea0a";
  }
  .icon-server1:before {
    content: "\ea0b";
  }
  .icon-wordpress:before {
    content: "\ea0c";
  }
  .icon-html5:before {
    content: "\ea0d";
  }
  .icon-css:before {
    content: "\ea0e";
  }
  .icon-js:before {
    content: "\ea0f";
  }
  .icon-python:before {
    content: "\ea10";
  }
  .icon-telegram11:before {
    content: "\ea11";
  }
  .icon-long-arrow-right1:before {
    content: "\ea12";
  }
  .icon-elephant:before {
    content: "\ea13";
  }
  .icon-hour-glass:before {
    content: "\ea14";
  }
  .icon-glass2:before {
    content: "\ea15";
  }